<!-- 
  Este no es un documento html completo, es un componente que se esta incrustando dentro del
archivo de index.html 

<span>{{ title }} está ejecutandose!</span> <br/>-->
<!-- Para utilizar una propiedad definida en el archivo de app.components.ts se debe de colocar
entre dobles llaves {{nombrePropiedad}} -->
<!--<span>{{ saludo }}</span>-->

<!-- <div style="text-align: center;"> -->
  <!-- <h1>Bienvenido: {{ title }}</h1> -->
  <!-- Mandamos a llamar el componente -->
  <app-personas></app-personas>
<!-- </div> -->